/* latin */
@font-face {
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/droidsans/v18/SlGVmQWMvZQIdix7AFxXkHNSbQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.main {
    display: block;
    padding-top: 5rem;
    width: 100%;
    height: 90%;
    transform: translate(0%, 10%);
}

.stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    /* font matters a good deal here, esp the width of the numerals */
    font-family: "Source Sans Pro", serif;
}

.stat-figure {
    font-size: 3em;
    display: flex;
    font-weight: bold;
}

.stat-caption {
    text-align: center;
}

/* Demo styling only */

:root {
    --color-background: teal;
    --color-text: #f6fde1;
    --color-accent: #faff98;
    --gap: clamp(1rem, 6vw, 3rem);
    --full: minmax(var(--gap), 1fr);
    --content: min(30em, 100% - var(--gap) * 2);
    --popout: minmax(0, 3rem);
}

/* Forced reset */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lora', serif;
    background-color: var(--color-background);
    color: var(--color-text);
    font-size: clamp(1.125rem, 0.625vw + 0.875rem, 1.625rem);
    line-height: 1.25;
}

a {
    text-decoration: none;
    color: black;
    padding: 2rem;
    font-size: 1.5rem;
}

a:hover {
    background-color: rgb(97, 206, 169);
}

ul {
    list-style-type: none;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgb(68, 68, 68);
    color: rgb(255, 255, 255);
}

nav {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 10%;
    width: 100vw;
    background: rgb(63, 94, 251);
    background: radial-gradient(circle at 30%, rgba(63, 94, 251, 1) 0%, rgb(70, 225, 252) 100%);
    align-items: center;
}

.main>h1 {
    padding-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: 20em
}

.title {
    color: rgba(46, 41, 45, 0.644);
    padding: 3rem;
    font-size: 3rem;
}

h1,
h2,
h3,
h4 {
    color: var(--color-accent);
    font-family: 'Source Sans Pro', sans-serif;
}

.text-reverse {
    padding: 3ch;
    background-color: var(--color-text);
    color: var(--color-background);
    border-radius: 2ch;
}

/* Simple grid with popout */
.grid {
    display: grid;
    grid-template-columns:
        [full-start] var(--full) [popout-start] var(--popout) [content-start] var(--content) [content-end] var(--popout) [popout-end] var(--full) [full-end];
}

.grid>* {
    grid-column: content;
}

.popout {
    grid-column: popout;
}

/* Simple vertical rhythm */
.flow>*+* {
    margin-top: var(--flow, 1em)
}

.flex {
    display: flex;
}

.gap {
    gap: 2ch;
    margin-top: 6rem;
}

.mb-10vh {
    margin-bottom: 10vh;
}

@media only screen and (max-width: 600px) {
    .title{
        font-size: 1.5rem;
    }
    .flex {
        flex-direction: column;
    }
    .stat {
        margin: 1rem 1rem;
    }
}